<html>
<head>


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="txt/css" href="https://fonts.googleapis.com/css?family=Droid+Serif:bold">
  <link rel="stylesheet" type="txt/css" href="{{ site.url }}/css/style.css"
  <meta itemprop="image" content="{{ site.url }}/img/se.png">
  <meta itemprop="image" content="{{ site.url }}/img/es.png">

  <style>
  label#form{float:left;margin-top:1px;width:100px;font-weight: bold;cursor:pointer;}

  #social_btn li
	{
	display: inline;
	float: right;
	list-style-type: none;
	padding-right: 10px;
	}

  </style>
  <style>
  h3 {
  font-size: 36;
  text-shadow: 4px 4px 4px #aaa;
  }
  #wrapper {
  color: #929A8D;
  widht: 600px;
  height: 600px;
  font-family: 'Droid Serif', serif;
  font-size: 14px;

  }
  </style>

  <script language="JavaScript" src="http://code.google.com/apis/gears/gears_init.js"></script>
  <script language="JavaScript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js"></script>
  <script language="JavaScript" src="http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.3/scriptaculous.js"></script>

<script type="text/javascript">
function getLocation(){
  try{
    var geo = google.gears.factory.create('beta.geolocation');
    geo.getCurrentPosition(successCallback, errorCallback);
  }
  catch(e){
    try{
      navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
    }
    catch(e){
      errorCallback({code:2,message:e.message});
    }
  }
}

function errorCallback(err){}

function successCallback(r){
  new Ajax.Request('{{ site.url }}/geo5.php?lat=' + r.coords.latitude + '&lon=' + r.coords.longitude,{
    method:'get',
    onSuccess: function(transport){},
    onFailure: function(){ alert('Failed to report location.') }
  });
}

Event.observe(window, 'load',
  function(){
    getLocation();
  }
);</script>
{% seo %}
</head>
</head>
<body id="top">
  <div id="layout_wrapper_outer">
  <div id="layout_wrapper">

    <div id="layout_top">

      <div id="site_title">

      	<table width="100%">
      		<tr>
      			<td width="40%">
      				<a href="{{ site.url }}/svenska/"><img src="{{ site.url }}/img/se.png" alt="svenska"/></a>
              <a href="{{ site.url }}/"><img src="{{ site.url }}/img/es.png" alt="español"/></a>
      			</td>
      			<td style="margin-bottom:0;" align="right">
				<div style="width:250px;height:73px;background:url({{ site.url }}/img/socialbtn.gif);">
				<ul id="social_btn" style="padding-top:44px;">
					<li>
						<div id="fb-root" ></div>
						<script>(function(d, s, id) {
						  var js, fjs = d.getElementsByTagName(s)[0];
						  if (d.getElementById(id)) return;
						  js = d.createElement(s); js.id = id;
						  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
						  fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));</script>
						<div class="fb-like" data-href="http://www.facebook.com/GraciasTavarez" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
					</li>
					<li>
						<a href="http://twitter.com/share" data-url="{{ site.url }}" data-counturl="{{ site.url }}" data-text="Gracias Maestro | Dedicado al Maestro Tavarez, técnico de la selección uruguaya de fútbol." class="twitter-share-button" data-count="none" data-via=""></a>
						<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
					</li>
					<li>
						<!-- Place this tag where you want the +1 button to render -->
						<g:plusone size="medium" annotation="none" href="https://idiaminx.github.io/gracias-maestro"></g:plusone>

						<!-- Place this render call where appropriate -->
						<script type="text/javascript">
						  (function() {
							var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
							po.src = 'https://apis.google.com/js/plusone.js';
							var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
						  })();
						</script>
					</li>
					<li>
						<!-- Place this tag where you want the su badge to render -->
						<su:badge layout="4"></su:badge>

						<!-- Place this snippet wherever appropriate -->
						 <script type="text/javascript">
						 (function() {
							 var li = document.createElement('script'); li.type = 'text/javascript'; li.async = true;
							  li.src = 'https://platform.stumbleupon.com/1/widgets.js';
							  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(li, s);
						 })();
						 </script>
					</li>
				</ul>
				</div>
				<div style="clear:both;"></div>
      			</td>
      		</tr>
      	</table>
        </div></div></div></div></div>

  <center><div id="wrapper">
    {{ content }}
    </div></center>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82481551-5', 'auto');
  ga('send', 'pageview');

</script>

</body></html>
